/.idea/*
!/.idea/runConfigurations/
!/.idea/codeStyleSettings.xml
/*.iml
/*.db
/modules/client/*.iml
/modules/common/*.iml
/modules/server/*.iml
/modules/client/target/
/modules/common/target/
/modules/server/target/
/target/
