.animated-option-button-green {
    -fx-pref-width: 50px;
    -fx-background-color: #44B449;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-border-color: WHITE;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
}

.animated-option-button-red {
    -fx-pref-width: 50px;
    -fx-background-color: #F44336;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-border-color: WHITE;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
}

.jfx-slider-style > .thumb {
    -fx-background-color: #673AB7;
}

.jfx-slider-style .track {
    -fx-background-color: #B39DDB;
}

.jfx-slider-style .sliderValue {
    -fx-stroke: WHITE;
    -fx-font-size: 10.0;
    -fx-font-family: roboto;
}
